body{
    background-image: url("/assets/plantsbackground.png");
    background-size: cover;
    height: 100vh;

    font-family: monospace;
    color: #363457;
    font-size: 2vh;
}

/*Footer and Top-Nav Bar CSS*/
#footer, .topnav
{  
    background-color: whitesmoke;
    width: 100%;
    left: 0px;
    position: fixed;
    text-align: center;    
}
#footer
{
    height: 6vh;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}

/*Navigation Bar CSS*/
.topnav
{
    top: 0px;
    padding-top: 2vh;
    padding: 2vh;
}
.topnav a
{
    margin-left: 10vw;
    margin-right: 10vw;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

#mywork_dd_btn
{
    font-family: monospace;
    color: #000000;
    font-size: 2vh;
    background-color: whitesmoke;
    border: none;
    font-weight: 700;
}

#mywork_dd
{
    background-color: whitesmoke;
    position: fixed;
    margin-top: 0;
    padding-top: 0;
    top: 6.5vh;
    left: 42vw;
    width: 17vw;
    border-radius: 2px;
}

#mywork_dd a:hover {
    background-color: rgb(194, 192, 192);
}
  
#mywork_dd a
{
    display: block;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}


/*This is not working for some reason*/
/*CSS for < 600px Width Screens (Mobile,Tablets,etc)*/
@media screen and (max-width:600px), screen and (max-width:900px)
{
    body{
        font-size: 2vw;
    }
    .topnav a
    {
        display: block;
    }
    #mywork_dd_btn
    {
        font-size: 2vw;
    }
    #mywork_dd 
    {
        width: 35vw;
        top: 7.5vh;
        left: 37vw;
        position: absolute;
    }
}
