
/*CSS for Content Specific to About Me Page*/

.home_content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
    margin-top: 20vh;
    gap: 2vw;
      
}

/*Profile Picture Polaroid and Description Box CSS*/ 
.polaroid_descr_box 
{ 
    background-color: whitesmoke;
    box-shadow: 2px 4px 8px 3px rgb(146, 144, 144);
    order: 2;
    border-radius: 15px;
    max-width: inherit;
    height: auto;
    padding-left: 5vh;
    padding-right: 5vh;
}
#descr_text
{
    color: #272928;
    text-align: left;
}

.polaroid_profile 
{
    order: 1;
    height: auto;
    background-color:whitesmoke;
    box-shadow: 2px 4px 8px 3px rgb(146, 144, 144);
    border-radius: 15px;
    border: solid whitesmoke 20px;
}

.polaroid_pic img { 
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: auto;
}

/*CSS for < 600px Width Screens (Mobile,Tablets, etc)*/
@media screen and (max-width: 600px)
{
    .home_content
    {
        flex-direction: column;
    }
    .polaroid_descr_box .polaroid_profile
    {
        text-align: center;
        width: fit-content;
    }
    .polaroid_profile img
    {
        height: 40vw;
        width: 40vw;
        /*need to center profile pic, will get to later*/   
    }
    .polaroid_profile
    {
        width: 40vw;
    }
}

/*CSS for > ___ Screens (Some elements need to be modified for responsiveness)*/


