/**Webpage color scheme: 
https://coolors.co/c4a69d-98a886-465c69-363457-735290 **/

body{
    /*Color Scheme*/
    background-color: #98A886;
    font-style: italic;
    color: #363457;
    
 
    /*Formatting*/
}

#footer, #header
{
    background-color: white;
    height: 10px;
    width: 100%;
}    

