/**Webpage color scheme: 
https://coolors.co/c4a69d-98a886-465c69-363457-735290 **/

body{
    /*Color Scheme*/
    background-color: #98A886;
    font-style: italic;
    color: #363457;

    /*Box-Model Formatting*/
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

#footer, #header
{
    background-color: #FDF5D5;
    font-size: large;
    height: 40px;
    width: 100%;
    padding: 0px;
}

/*Navigation Bar CSS*/
.topnav
{
    background-color: #FDF5D5;
}
.topnav a
{
    padding-right: 150px;
}

