body{
    background-image: url("plantsbackground.png");
    background-size: cover;
    height: 100vh;

    font-family: monospace;
    color: #363457;
    font-size: 2vh;
}

/*Footer and Top-Nav Bar CSS*/
#footer, .topnav
{  
    background-color: whitesmoke;
    width: 100%;
    left: 0px;
    position: fixed;
    text-align: center;    
}
#footer
{
    height: 6vh;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}

/*Navigation Bar CSS*/
.topnav
{
    top: 0px;
    padding-top: 2vh;
    padding: 2vh;
}
.topnav a
{
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
#my_work_drop_down
{

}

/*Content CSS*/
.home_content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
    margin-top: 20vh;
    gap: 2vw;
      
}

/*Profile Picture Polaroid and Description Box CSS*/ 
.polaroid_descr_box 
{ 
    background-color: whitesmoke;
    box-shadow: 2px 4px 8px 3px rgb(146, 144, 144);
    order: 2;
    border-radius: 15px;
    max-width: inherit;
    height: auto;
    padding-left: 5vh;
    padding-right: 5vh;
}
#descr_text
{
    color: #272928;
    text-align: left;
}

.polaroid_profile 
{
    order: 1;
    height: auto;
    background-color:whitesmoke;
    box-shadow: 2px 4px 8px 3px rgb(146, 144, 144);
    border-radius: 15px;
    border: solid whitesmoke 20px;
}

.polaroid_pic img { 
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: auto;
}

/*CSS for < 600px Width Screens (Mobile,Tablets, etc)*/
@media screen and (max-width: 600px)
{
    body{
        font-size: 2vw;
    }
    .topnav a
    {
        display: block;
    }
    .home_content
    {
        flex-direction: column;
    }
    .polaroid_descr_box .polaroid_profile
    {
        text-align: center;
        width: fit-content;
    }
    .polaroid_profile img
    {
        height: 40vw;
        width: 40vw;
        /*need to center profile pic, will get to later*/   
    }
    .polaroid_profile
    {
        width: 40vw;
    }
}

/*CSS for > ___ Screens (Some elements need to be modified for responsiveness)*/


