body{
    background-image: url("https://annie-zhou.web.app/assets/plantsbackground.png");
    background-size: cover;
    height: 100vh;

    font-family: monospace;
    color: #363457;
    font-size: 2vh;
}

/*Footer and Top-Nav Bar CSS*/
#footer,.topnav
{  
    background-color: whitesmoke;
    width: 100%;
    left: 0px;
    position: fixed;
    text-align: center;    
}
#footer
{
    height: 6vh;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}

/*Navigation Bar CSS*/
.topnav
{
    top: 0px;
    padding-top: 2vh;
    padding: 2vh;
    height: 5vh;
}
.topnav a
{
    margin-left: 10vw;
    margin-right: 10vw;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

#mywork_dd_btn
{
    font-family: monospace;
    color: #000000;
    font-size: 2vh;
    background-color: whitesmoke;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
#mywork_dd /*Sets the dropdown to be hidden by default*/
{
    display: none;
}

#mywork_dd.show
{
    background-color: whitesmoke;
    position: relative; /*absolute*/
    margin-top: 0;
    padding-top: 0;
    top: 2vh;
    left: 42vw;
    width: fit-content;
    border-radius: 2px;
    display: flex;
    flex-direction: column;

}
  
#mywork_dd a
{
    padding: 0;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh; 
}

#mywork_dd.mywork_content a:hover { 
    background-color: rgb(194, 192, 192);
    cursor: pointer;
}

/*CSS for < 600px Width Screens (Mobile,Tablets,etc)*/
@media screen and (max-width:600px), screen and (max-width:900px)
{
    body
    {
        font-size: 3vw;
    }
    .topnav
    {
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
    }
    .topnav a
    {
        display: block;
    }
    #mywork_dd 
    {
        font-size: 3vw;
    }
    #mywork_dd_btn
    {
        font-size:3vw;
    }
    #mywork_dd.show 
    {
        top: -1.5vh;
        position: relative;
        padding: 0;
        margin: 0;
        border: 0;
        left: 15vh;
        background-color: whitesmoke;
    }
}

/*Responsiveness for Surface Duos (Weird ass screen dimensions)*/
