
/*CSS for Content Specific to About Me Page*/

.home_content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
    margin-top: 20vh;
    gap: 2vw;
      
}

/*Profile Picture Polaroid and Description Box CSS*/ 
.polaroid_descr_box 
{ 
    background-color: whitesmoke;
    box-shadow: 2px 4px 8px 3px rgb(146, 144, 144);
    order: 2;
    border-radius: 1vw;
    max-width: inherit;
    height: auto;
    padding-left: 5vh;
    padding-right: 5vh;
}
#descr_text
{
    color: #272928;
    text-align: left;
}

.polaroid_profile 
{
    order: 1;
    height: auto;
    background-color:whitesmoke;
    box-shadow: 2px 4px 8px 3px rgb(146, 144, 144);
    border-radius: 1vw;
    border: solid whitesmoke 2vw;
}

.polaroid_pic img { 
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: auto;
}

/*CSS for < 900px Width and 800px > height screens (Mobile,Tablets, etc)*/
@media screen and (max-width: 950px) /*, screen and (min-height: 801px)*/
{
    .home_content
    {
        flex-direction: column;
        position: absolute;
        gap: 4vh;
    }
    .polaroid_descr_box, .polaroid_profile
    {
        text-align: center;
        left: 2vw;
    }
    .polaroid_descr_box
    {
        top: 51vh;
        width: fit-content;
    }
    #descr_text
    {
        font-size: 2vw;
    }
    .polaroid_profile img
    {
        height: 30vh;
        width: 30vh;   
    }
    .polaroid_profile
    {
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 32vh;
        top: 15vh;
    }
}


