.resume_download_block
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
    margin: 0;
    border: 0;
    margin-top: 20vh;
    margin-left: 28vw;
    width: 45vw;
    height: 31vw;

    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 4vh;
    background-color: whitesmoke;
    box-shadow: 2px 4px 8px 3px rgb(146, 144, 144);
    border-radius: 1vw;

    gap: 2vw;
}

/*CSS for < 900px Width and 800px > height screens (Mobile,Tablets, etc)*/
@media screen and (max-width: 950px) /*, screen and (min-height: 801px)*/
{

    .resume_download_block
    {
        flex-direction: column;
        position: absolute;
        gap: 4vh;
        text-align: center;
        width: 80vw;
        height: 60vh;
        padding-left: 4vw;
        padding-right: 4vw;
        left: -20vw;
    }
    #resume_preview
    {
        width: 70vw;
        height: 45vh;
        padding-left: 6vw;
        padding-right: 6vw;
    }

}